In [1]:
import warnings
warnings.filterwarnings('ignore')

*curl* is a Bash command. You can execute Bash commands in a Jupyter notebook by prefixing them with an exclamation mark. This command downloads a CSV file from Azure blob storage and saves it using the name flightdata.csv.
*Importing the dataset*

In [2]:
!curl https://topcs.blob.core.windows.net/public/FlightData.csv -o flightdata.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1552k  100 1552k    0     0  2208k      0 --:--:-- --:--:-- --:--:-- 2205k

In [3]:
import pandas as pd

# Loading the dataset
df = pd.read_csv('flightdata.csv')
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0,NaN
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0,NaN
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0,NaN
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0,NaN
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0,NaN

In [ ]:
# df.to_csv('dataset.csv', sep="|", index=False)

| Column| Description|
| --- | --- |
| YEAR | Year the flight took place |

Source: Click for more [Docs](https://docs.microsoft.com/en-us/learn/modules/predict-flight-delays-with-python/2-clean-and-prepare-data)

In [4]:
# DataFrame contains {11,231} rows and {26} columns

df.shape

(11231, 26)

In [5]:
df.isnull().values.any()

True

In [6]:
df.isnull().sum()

YEAR                       0
QUARTER                    0
MONTH                      0
DAY_OF_MONTH               0
DAY_OF_WEEK                0
UNIQUE_CARRIER             0
TAIL_NUM                   0
FL_NUM                     0
ORIGIN_AIRPORT_ID          0
ORIGIN                     0
DEST_AIRPORT_ID            0
DEST                       0
CRS_DEP_TIME               0
DEP_TIME                 107
DEP_DELAY                107
DEP_DEL15                107
CRS_ARR_TIME               0
ARR_TIME                 115
ARR_DELAY                188
ARR_DEL15                188
CANCELLED                  0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME      188
DISTANCE                   0
Unnamed: 25            11231
dtype: int64

In [7]:
df = df.drop('Unnamed: 25', axis=1)
df.isnull().sum()

YEAR                     0
QUARTER                  0
MONTH                    0
DAY_OF_MONTH             0
DAY_OF_WEEK              0
UNIQUE_CARRIER           0
TAIL_NUM                 0
FL_NUM                   0
ORIGIN_AIRPORT_ID        0
ORIGIN                   0
DEST_AIRPORT_ID          0
DEST                     0
CRS_DEP_TIME             0
DEP_TIME               107
DEP_DELAY              107
DEP_DEL15              107
CRS_ARR_TIME             0
ARR_TIME               115
ARR_DELAY              188
ARR_DEL15              188
CANCELLED                0
DIVERTED                 0
CRS_ELAPSED_TIME         0
ACTUAL_ELAPSED_TIME    188
DISTANCE                 0
dtype: int64

In [8]:
df = df[["MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "ORIGIN", "DEST", "CRS_DEP_TIME", "ARR_DEL15"]]
df.isnull().sum()

MONTH             0
DAY_OF_MONTH      0
DAY_OF_WEEK       0
ORIGIN            0
DEST              0
CRS_DEP_TIME      0
ARR_DEL15       188
dtype: int64

In [9]:
df_trans = df[["MONTH", "DAY_OF_MONTH", "DAY_OF_WEEK", "ORIGIN", "DEST", "CRS_DEP_TIME", "ARR_DEL15"]]

In [13]:
df_trans[['Origination','Destination']] = df[['ORIGIN','DEST']]

In [14]:
print(df_trans.head())

   MONTH  DAY_OF_MONTH  DAY_OF_WEEK ORIGIN DEST  CRS_DEP_TIME  ARR_DEL15  \
0      1             1            5    ATL  SEA          1905        0.0
1      1             1            5    DTW  MSP          1345        0.0
2      1             1            5    ATL  SEA           940        0.0
3      1             1            5    SEA  MSP           819        0.0
4      1             1            5    SEA  DTW          2300        0.0

  Originated Origination Destination
0        ATL         ATL         SEA
1        DTW         DTW         MSP
2        ATL         ATL         SEA
3        SEA         SEA         MSP
4        SEA         SEA         DTW

In [16]:
df_trans.drop('Originated', axis=1).head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,ORIGIN,DEST,CRS_DEP_TIME,ARR_DEL15,Origination,Destination
0,1,1,5,ATL,SEA,1905,0.0,ATL,SEA
1,1,1,5,DTW,MSP,1345,0.0,DTW,MSP
2,1,1,5,ATL,SEA,940,0.0,ATL,SEA
3,1,1,5,SEA,MSP,819,0.0,SEA,MSP
4,1,1,5,SEA,DTW,2300,0.0,SEA,DTW

In [ ]:
df[df.isnull().values.any(axis=1)].head()

In [ ]:
df = df.fillna({'ARR_DEL15': 1})
df.iloc[177:185]

In [ ]:
df.head()

In [ ]:
import math

for index, row in df.iterrows():
    df.loc[index, 'CRS_DEP_TIME'] = math.floor(row['CRS_DEP_TIME'] / 100)
df.head()

In [ ]:
df = pd.get_dummies(df, columns=['ORIGIN', 'DEST'])
df.head()

In [ ]:
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(df.drop('ARR_DEL15', axis=1), df['ARR_DEL15'], test_size=0.2, random_state=42)

In [ ]:
train_x.shape

In [ ]:
test_x.shape

In [ ]:
train_y.shape

In [ ]:
test_y.shape

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [ ]:
model = RandomForestClassifier(random_state=13)
model.fit(train_x, train_y)

In [ ]:
predicted = model.predict(test_x)
model.score(test_x, test_y)

In [ ]:
prob = model.predict_proba(test_x)[:,1]
prob

In [ ]:
print("Using RFC, Number of mislabeled points out of a total %d points : %d"
       % (test_x.shape[0], (test_y != predicted).sum()))

In [ ]:
from sklearn.naive_bayes import GaussianNB
import numpy as np

gnb = GaussianNB()

In [ ]:
y_pred = gnb.fit(train_x, train_y).predict(test_x)
print("Using Naive Bayes, Number of mislabeled points out of a total %d points : %d"
       % (test_x.shape[0], (test_y != y_pred).sum()))

In [ ]:
gnb.fit(train_x, train_y).predict(test_x)
gnb.score(test_x, test_y)

In [ ]:
from sklearn.metrics import roc_auc_score

probabilities = model.predict_proba(test_x)
roc_auc_score(test_y, probabilities[:, 1])

In [ ]:
probs = gnb.predict_proba(test_x)
roc_auc_score(test_y, probs[:, 1])

# type(y_pred)

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(test_y, predicted)

In [ ]:
confusion_matrix(test_y, y_pred)

In [ ]:
from sklearn.metrics import precision_score

train_predictions = model.predict(train_x)
precision_score(train_y, train_predictions)

In [ ]:
train_prediction = gnb.predict(train_x)
precision_score(train_y, train_prediction)

In [ ]:
from sklearn.metrics import recall_score

recall_score(train_y, train_predictions)

In [ ]:
recall_score(train_y, train_prediction)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [ ]:
from sklearn.metrics import roc_curve

fpr, tpr, _ = roc_curve(test_y, probabilities[:, 1])
plt.plot(fpr, tpr)
plt.plot([0, 1], [0, 1], color='grey', lw=1, linestyle='--')
plt.xlabel('False Positive Rate \n Random Forest Classifier')
plt.ylabel('True Positive Rate')

In [ ]:
from sklearn.metrics import roc_curve

fpr, tpr, _ = roc_curve(test_y, probs[:, 1])
plt.plot(fpr, tpr)
plt.plot([0, 1], [0, 1], color='grey', lw=1, linestyle='--')
plt.xlabel('False Positive Rate \n Naive Bayes')
plt.ylabel('True Positive Rate')

In [ ]:

# !conda install -c anaconda seaborn -y

In [ ]:
def predict_delay(departure_date_time, origin, destination):
    from datetime import datetime

    try:
        departure_date_time_parsed = datetime.strptime(departure_date_time, '%d/%m/%Y %H:%M:%S')
    except ValueError as e:
        return 'Error parsing date/time - {}'.format(e)

    month = departure_date_time_parsed.month
    day = departure_date_time_parsed.day
    day_of_week = departure_date_time_parsed.isoweekday()
    hour = departure_date_time_parsed.hour

    origin = origin.upper()
    destination = destination.upper()

    input = [{'MONTH': month,
              'DAY': day,
              'DAY_OF_WEEK': day_of_week,
              'CRS_DEP_TIME': hour,
              'ORIGIN_ATL': 1 if origin == 'ATL' else 0,
              'ORIGIN_DTW': 1 if origin == 'DTW' else 0,
              'ORIGIN_JFK': 1 if origin == 'JFK' else 0,
              'ORIGIN_MSP': 1 if origin == 'MSP' else 0,
              'ORIGIN_SEA': 1 if origin == 'SEA' else 0,
              'DEST_ATL': 1 if destination == 'ATL' else 0,
              'DEST_DTW': 1 if destination == 'DTW' else 0,
              'DEST_JFK': 1 if destination == 'JFK' else 0,
              'DEST_MSP': 1 if destination == 'MSP' else 0,
              'DEST_SEA': 1 if destination == 'SEA' else 0 }]

    return model.predict_proba(pd.DataFrame(input))[0][0]

In [ ]:
predict_delay('1/10/2018 21:45:00', 'JFK', 'ATL')

In [ ]:
predict_delay('2/10/2018 21:45:00', 'JFK', 'ATL')

In [ ]:
predict_delay('2/10/2018 10:00:00', 'ATL', 'SEA')

In [ ]:
from sklearn.externals import joblib

# Save the model as a pickle in a file
joblib.dump(model, 'onflight-model.pkl')

In [ ]:
import numpy as np

labels = ('Oct 1', 'Oct 2', 'Oct 3', 'Oct 4', 'Oct 5', 'Oct 6', 'Oct 7')
values = (predict_delay('1/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('2/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('3/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('4/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('5/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('6/10/2018 21:45:00', 'JFK', 'ATL'),
          predict_delay('7/10/2018 21:45:00', 'JFK', 'ATL'))
alabels = np.arange(len(labels))

plt.bar(alabels, values, align='center', alpha=0.5)
plt.xticks(alabels, labels)
plt.ylabel('Probability of On-Time Arrival')
plt.ylim((0.0, 1.0))

In [ ]:
pwd